In [75]:
import csv
import math
import sys
from datetime import datetime as dt
from datetime import timezone as tz

import numpy as np
import pandas as pd

import utility

## clean data

### regional

In [198]:
df = pd.read_excel('../GhostPostCC/data/Region_MIDW.xlsx')

In [197]:
df

,Balancing Authority,Data Date,Hour Number,Local Time at End of Hour,UTC Time at End of Hour,Demand Forecast (MW),Demand (MW),Net Generation (MW),Total Interchange (MW),Sum(Valid DIBAs) (MW),...,Net Generation (MW) from Other Fuel Sources (Imputed),Net Generation (MW) from Coal (Adjusted),Net Generation (MW) from Natural Gas (Adjusted),Net Generation (MW) from Nuclear (Adjusted),Net Generation (MW) from All Petroleum Products (Adjusted),Net Generation (MW) from Hydropower and Pumped Storage (Adjusted),Net Generation (MW) from Solar (Adjusted),Net Generation (MW) from Wind (Adjusted),Net Generation (MW) from Other Fuel Sources (Adjusted),Region
0,AECI,01/01/2022,1,01/01/2022 1:00:00 AM,01/01/2022 7:00:00 AM,"2,235","2,251","1,986",-265,-265,...,NaN,996,299,NaN,NaN,NaN,NaN,691,NaN,MIDW
1,AECI,01/01/2022,2,01/01/2022 2:00:00 AM,01/01/2022 8:00:00 AM,"2,217","2,208","2,039",-169,-169,...,NaN,941,302,NaN,NaN,NaN,NaN,796,NaN,MIDW
2,AECI,01/01/2022,3,01/01/2022 3:00:00 AM,01/01/2022 9:00:00 AM,"2,193","2,204","2,080",-124,-124,...,NaN,951,369,NaN,NaN,NaN,NaN,760,NaN,MIDW
3,AECI,01/01/2022,4,01/01/2022 4:00:00 AM,01/01/2022 10:00:00 AM,"2,255","2,234","2,110",-124,-124,...,NaN,957,386,NaN,NaN,NaN,NaN,767,NaN,MIDW
4,AECI,01/01/2022,5,01/01/2022 5:00:00 AM,01/01/2022 11:00:00 AM,"2,325","2,287","2,138",-149,-149,...,NaN,992,405,NaN,NaN,NaN,NaN,741,NaN,MIDW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273616,YAD,06/30/2022,20,06/30/2022 8:00:00 PM,07/01/2022 12:00:00 AM,NaN,NaN,122,119,119,...,NaN,NaN,NaN,NaN,NaN,122.0,NaN,NaN,NaN,CAR
273617,YAD,06/30/2022,21,06/30/2022 9:00:00 PM,07/01/2022 1:00:00 AM,NaN,NaN,4,2,4,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,CAR
273618,YAD,06/30/2022,22,06/30/2022 10:00:00 PM,07/01/2022 2:00:00 AM,NaN,NaN,0,-1,-1,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,CAR
273619,YAD,06/30/2022,23,06/30/2022 11:00:00 PM,07/01/2022 3:00:00 AM,NaN,NaN,1,-1,-1,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,CAR
273620,YAD,06/30/2022,24,07/01/2022 12:00:00 AM,07/01/2022 4:00:00 AM,NaN,NaN,0,1,1,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,CAR

In [61]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77303 entries, 0 to 77302
Data columns (total 59 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Region                                             77303 non-null  object
 1   UTC time                                           77303 non-null  datetime64[ns]
 2   Local date                                         77303 non-null  datetime64[ns]
 3   Hour                                               77303 non-null  int64
 4   Local time                                         77303 non-null  datetime64[ns]
 5   Time zone                                          77303 non-null  object
 6   DF                                                 77303 non-null  int64
 7   D                                                  77279 non-null  float64
 8   NG                                                 77279 non-null  float64
 9   TI                                                 77279 non-null  float64
 10  Sum (NG)                                           50976 non-null  float64
 11  NG: COL                                            50975 non-null  float64
 12  NG: NG                                             50975 non-null  float64
 13  NG: NUC                                            50975 non-null  float64
 14  NG: OIL                                            7943 non-null   float64
 15  NG: WAT                                            50975 non-null  float64
 16  NG: SUN                                            50975 non-null  float64
 17  NG: WND                                            50975 non-null  float64
 18  NG: OTH                                            50975 non-null  float64
 19  NG: UNK                                            0 non-null      float64
 20  Sum (Trade)                                        77255 non-null  float64
 21  Sum (Imports)                                      77255 non-null  float64
 22  Sum (Exports)                                      77255 non-null  float64
 23  CAL                                                0 non-null      float64
 24  CAR                                                0 non-null      float64
 25  CENT                                               77255 non-null  float64
 26  FLA                                                0 non-null      float64
 27  MIDA                                               77255 non-null  float64
 28  MIDW                                               0 non-null      float64
 29  NE                                                 0 non-null      float64
 30  NW                                                 2208 non-null   float64
 31  NY                                                 0 non-null      float64
 32  SE                                                 77216 non-null  float64
 33  SW                                                 0 non-null      float64
 34  TEN                                                77255 non-null  float64
 35  TEX                                                0 non-null      float64
 36  CAN                                                77216 non-null  float64
 37  MEX                                                0 non-null      float64
 38  Balance NG D TI                                    77279 non-null  float64
 39  Balance TI Trade                                   77255 non-null  float64
 40  Balance NG                                         50976 non-null  float64
 41  CO2 Factor: COL                                    50975 non-null  float64
 42  CO2 Factor: NG                                     50975 non-null  float64
 43  CO2 Factor: OIL                                    110 non-null    float64
 44  Positive Gen from COL                              50975 non-null  float64
 45  Positive Gen from NG                               50975 non-null  float64
 46  Positive Gen from OIL                              7943 non-null   float64
 47  CO2 Emissions: COL                                 50975 non-null  float64
 48  CO2 Emissions: NG                                  50975 non-null  float64
 49  CO2 Emissions: OIL                                 7943 non-null   float64
 50  CO2 Emissions: Other                               50975 non-null  float64
 51  CO2 Emissions Generated                            50975 non-null  float64
 52  CO2 Emissions Imported                             50949 non-null  float64
 53  CO2 Emissions Exported                             50949 non-null  float64
 54  CO2 Emissions Consumed                             50949 non-null  float64
 55  Positive Generation                                50976 non-null  float64
 56  Consumed Electricity                               50952 non-null  float64
 57  CO2 Emissions Intensity for Generated Electricity  50975 non-null  float64
 58  CO2 Emissions Intensity for Consumed Electricity   50949 non-null  float64
dtypes: datetime64[ns](3), float64(52), int64(2), object(2)
memory usage: 34.8+ MB

In [62]:
df.columns

Index(['Region', 'UTC time', 'Local date', 'Hour', 'Local time', 'Time zone',
       'DF', 'D', 'NG', 'TI', 'Sum (NG)', 'NG: COL', 'NG: NG', 'NG: NUC',
       'NG: OIL', 'NG: WAT', 'NG: SUN', 'NG: WND', 'NG: OTH', 'NG: UNK',
       'Sum (Trade)', 'Sum (Imports)', 'Sum (Exports)', 'CAL', 'CAR', 'CENT',
       'FLA', 'MIDA', 'MIDW', 'NE', 'NW', 'NY', 'SE', 'SW', 'TEN', 'TEX',
       'CAN', 'MEX', 'Balance NG D TI', 'Balance TI Trade', 'Balance NG',
       'CO2 Factor: COL', 'CO2 Factor: NG', 'CO2 Factor: OIL',
       'Positive Gen from COL', 'Positive Gen from NG',
       'Positive Gen from OIL', 'CO2 Emissions: COL', 'CO2 Emissions: NG',
       'CO2 Emissions: OIL', 'CO2 Emissions: Other', 'CO2 Emissions Generated',
       'CO2 Emissions Imported', 'CO2 Emissions Exported',
       'CO2 Emissions Consumed', 'Positive Generation', 'Consumed Electricity',
       'CO2 Emissions Intensity for Generated Electricity',
       'CO2 Emissions Intensity for Consumed Electricity'],
      dtype='object')

In [76]:
cols = ['UTC time', 'Local date', 'Hour', 'Local time',
       'Sum (NG)', 'NG: COL', 'NG: NG', 'NG: NUC', 'NG: SUN',
       'NG: OIL', 'NG: WAT', 'NG: SUN', 'NG: WND', 'NG: OTH']

time_filter = (df['Local time']>'2022-01-01') & (df['Local time']<='2024-01-01')

In [115]:
data = df[time_filter][cols].reset_index(drop=True)
data

,UTC time,Local date,Hour,Local time,Sum (NG),NG: COL,NG: NG,NG: NUC,NG: SUN,NG: OIL,NG: WAT,NG: SUN,NG: WND,NG: OTH
0,2022-01-01 06:00:00,2022-01-01,1,2022-01-01 01:00:00,64543.0,25663.0,12065.0,12192.0,0.0,NaN,569.0,0.0,13584.0,470.0
1,2022-01-01 07:00:00,2022-01-01,2,2022-01-01 02:00:00,63027.0,24282.0,11574.0,12192.0,0.0,NaN,529.0,0.0,13982.0,468.0
2,2022-01-01 08:00:00,2022-01-01,3,2022-01-01 03:00:00,62214.0,23480.0,11296.0,12192.0,0.0,NaN,522.0,0.0,14256.0,468.0
3,2022-01-01 09:00:00,2022-01-01,4,2022-01-01 04:00:00,61693.0,22871.0,11026.0,12198.0,0.0,NaN,529.0,0.0,14600.0,469.0
4,2022-01-01 10:00:00,2022-01-01,5,2022-01-01 05:00:00,61166.0,22423.0,10701.0,12195.0,0.0,NaN,527.0,0.0,14850.0,470.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2024-01-01 01:00:00,2023-12-31,20,2023-12-31 20:00:00,78078.0,29329.7,30487.3,8204.0,2.0,0.0,1088.0,2.0,8596.0,371.0
17516,2024-01-01 02:00:00,2023-12-31,21,2023-12-31 21:00:00,75593.9,27283.2,30073.8,8204.0,2.9,0.0,909.0,2.9,8753.0,368.0
17517,2024-01-01 03:00:00,2023-12-31,22,2023-12-31 22:00:00,74670.1,26415.1,30143.0,8206.0,3.0,0.0,905.0,3.0,8635.0,363.0
17518,2024-01-01 04:00:00,2023-12-31,23,2023-12-31 23:00:00,73296.0,25840.3,30098.7,8203.0,3.0,0.0,878.0,3.0,7908.0,365.0
17519,2024-01-01 05:00:00,2023-12-31,24,2024-01-01 00:00:00,71814.5,25413.6,29986.9,8203.0,3.0,0.0,837.0,3.0,7003.0,368.0

In [116]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17520 entries, 0 to 17519
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   UTC time    17520 non-null  datetime64[ns]
 1   Local date  17520 non-null  datetime64[ns]
 2   Hour        17520 non-null  int64
 3   Local time  17520 non-null  datetime64[ns]
 4   Sum (NG)    17520 non-null  float64
 5   NG: COL     17520 non-null  float64
 6   NG: NG      17520 non-null  float64
 7   NG: NUC     17520 non-null  float64
 8   NG: SUN     17520 non-null  float64
 9   NG: OIL     5184 non-null   float64
 10  NG: WAT     17520 non-null  float64
 11  NG: SUN     17520 non-null  float64
 12  NG: WND     17520 non-null  float64
 13  NG: OTH     17520 non-null  float64
dtypes: datetime64[ns](3), float64(10), int64(1)
memory usage: 1.9 MB

In [117]:
# omit NG: SUN bcs no sun data
# omit NG: OIL bcs too many nans
# change NG: OTH to become (Sum (NG) - ('NG: COL' + 'NG: NG' + 'NG: NUC' + 'NG: WAT' + 'NG: SUN' + 'NG: WND'))

data = data.drop(['NG: SUN', 'NG: OIL'], axis=1)

data['NG: OTH'] = 0
data['NG: OTH'] = data['Sum (NG)'] - data[['NG: COL', 'NG: NG', 'NG: NUC', 'NG: WAT', 'NG: WND']].sum(axis=1)
data = data.drop(['Sum (NG)', 'Local date', 'Hour'], axis=1)

In [118]:
data

,UTC time,Local time,NG: COL,NG: NG,NG: NUC,NG: WAT,NG: WND,NG: OTH
0,2022-01-01 06:00:00,2022-01-01 01:00:00,25663.0,12065.0,12192.0,569.0,13584.0,470.0
1,2022-01-01 07:00:00,2022-01-01 02:00:00,24282.0,11574.0,12192.0,529.0,13982.0,468.0
2,2022-01-01 08:00:00,2022-01-01 03:00:00,23480.0,11296.0,12192.0,522.0,14256.0,468.0
3,2022-01-01 09:00:00,2022-01-01 04:00:00,22871.0,11026.0,12198.0,529.0,14600.0,469.0
4,2022-01-01 10:00:00,2022-01-01 05:00:00,22423.0,10701.0,12195.0,527.0,14850.0,470.0
...,...,...,...,...,...,...,...,...
17515,2024-01-01 01:00:00,2023-12-31 20:00:00,29329.7,30487.3,8204.0,1088.0,8596.0,373.0
17516,2024-01-01 02:00:00,2023-12-31 21:00:00,27283.2,30073.8,8204.0,909.0,8753.0,370.9
17517,2024-01-01 03:00:00,2023-12-31 22:00:00,26415.1,30143.0,8206.0,905.0,8635.0,366.0
17518,2024-01-01 04:00:00,2023-12-31 23:00:00,25840.3,30098.7,8203.0,878.0,7908.0,368.0
17519,2024-01-01 05:00:00,2024-01-01 00:00:00,25413.6,29986.9,8203.0,837.0,7003.0,371.0

In [119]:
data.to_csv('data/electricity_cleaned.csv')

### six months

In [293]:
def preprocess_numeric_value(value):
    # If the value is a string containing a comma (thousand separator), remove the comma
    if isinstance(value, str) and ',' in value:
        return float(value.replace(',', ''))
    else:
        return value

def combine_data(balancing_auth):
    years = ['2021', '2022', '2023', '2024']
    periods = ['Jan_Jun', 'Jul_Dec']

    dataset = pd.DataFrame()
    for year in years:
        for period in periods:
            try:
                file_path = f"../GhostPostCC/data/EIA930_BALANCE_{year}_{period}.csv"
                df = pd.read_csv(f'{file_path}', infer_datetime_format=True, parse_dates=['UTC Time at End of Hour', 'Local Time at End of Hour', 'Data Date'])
                df = df[df['Balancing Authority']==balancing_auth]

                # Preprocess and convert columns starting from the 5th index to float
                for col in df.columns[5:]:
                    try:
                        df[col] = df[col].apply(preprocess_numeric_value)
                        df[col] = pd.to_numeric(df[col], errors='coerce')
                    except:
                        pass  # Skip columns that cannot be converted to numeric

                dataset = pd.concat([dataset, df]).reset_index(drop=True)
                print(f'{file_path} combined')
            except FileNotFoundError as e:
                print(e)

    return dataset

In [294]:
dataset = combine_data('MISO')

/var/folders/fh/7sz134vx5jq6_78w16smcs3h0000gn/T/ipykernel_54784/171228780.py:17: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df = pd.read_csv(f'{file_path}', infer_datetime_format=True, parse_dates=['UTC Time at End of Hour', 'Local Time at End of Hour', 'Data Date'])
/var/folders/fh/7sz134vx5jq6_78w16smcs3h0000gn/T/ipykernel_54784/171228780.py:17: DtypeWarning: Columns (5,6,10,11,13,16,18,19,20,21,22,23,25,26,27,29,32,33,35,36,37,38,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'{file_path}', infer_datetime_format=True, parse_dates=['UTC Time at End of Hour', 'Local Time at End of Hour', 'Data Date'])

../GhostPostCC/data/EIA930_BALANCE_2021_Jan_Jun.csv combined

/var/folders/fh/7sz134vx5jq6_78w16smcs3h0000gn/T/ipykernel_54784/171228780.py:17: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df = pd.read_csv(f'{file_path}', infer_datetime_format=True, parse_dates=['UTC Time at End of Hour', 'Local Time at End of Hour', 'Data Date'])
/var/folders/fh/7sz134vx5jq6_78w16smcs3h0000gn/T/ipykernel_54784/171228780.py:17: DtypeWarning: Columns (5,6,7,8,9,10,11,13,14,15,16,17,18,19,20,21,22,23,25,26,27,29,30,31,32,33,34,35,36,37,38,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'{file_path}', infer_datetime_format=True, parse_dates=['UTC Time at End of Hour', 'Local Time at End of Hour', 'Data Date'])

../GhostPostCC/data/EIA930_BALANCE_2021_Jul_Dec.csv combined

/var/folders/fh/7sz134vx5jq6_78w16smcs3h0000gn/T/ipykernel_54784/171228780.py:17: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df = pd.read_csv(f'{file_path}', infer_datetime_format=True, parse_dates=['UTC Time at End of Hour', 'Local Time at End of Hour', 'Data Date'])
/var/folders/fh/7sz134vx5jq6_78w16smcs3h0000gn/T/ipykernel_54784/171228780.py:17: DtypeWarning: Columns (5,6,7,8,9,10,11,13,14,15,16,17,18,19,20,21,22,23,25,26,27,29,30,31,32,33,34,35,36,37,38,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'{file_path}', infer_datetime_format=True, parse_dates=['UTC Time at End of Hour', 'Local Time at End of Hour', 'Data Date'])

../GhostPostCC/data/EIA930_BALANCE_2022_Jan_Jun.csv combined

/var/folders/fh/7sz134vx5jq6_78w16smcs3h0000gn/T/ipykernel_54784/171228780.py:17: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df = pd.read_csv(f'{file_path}', infer_datetime_format=True, parse_dates=['UTC Time at End of Hour', 'Local Time at End of Hour', 'Data Date'])
/var/folders/fh/7sz134vx5jq6_78w16smcs3h0000gn/T/ipykernel_54784/171228780.py:17: DtypeWarning: Columns (5,6,7,8,9,10,11,13,14,15,16,17,18,19,20,21,22,23,25,26,27,31,32,33,34,35,36,37,38,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'{file_path}', infer_datetime_format=True, parse_dates=['UTC Time at End of Hour', 'Local Time at End of Hour', 'Data Date'])

../GhostPostCC/data/EIA930_BALANCE_2022_Jul_Dec.csv combined

/var/folders/fh/7sz134vx5jq6_78w16smcs3h0000gn/T/ipykernel_54784/171228780.py:17: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df = pd.read_csv(f'{file_path}', infer_datetime_format=True, parse_dates=['UTC Time at End of Hour', 'Local Time at End of Hour', 'Data Date'])
/var/folders/fh/7sz134vx5jq6_78w16smcs3h0000gn/T/ipykernel_54784/171228780.py:17: DtypeWarning: Columns (5,6,7,8,10,11,13,14,15,16,17,18,19,20,21,22,23,25,26,27,30,31,32,33,34,35,36,37,38,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'{file_path}', infer_datetime_format=True, parse_dates=['UTC Time at End of Hour', 'Local Time at End of Hour', 'Data Date'])

../GhostPostCC/data/EIA930_BALANCE_2023_Jan_Jun.csv combined

/var/folders/fh/7sz134vx5jq6_78w16smcs3h0000gn/T/ipykernel_54784/171228780.py:17: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df = pd.read_csv(f'{file_path}', infer_datetime_format=True, parse_dates=['UTC Time at End of Hour', 'Local Time at End of Hour', 'Data Date'])
/var/folders/fh/7sz134vx5jq6_78w16smcs3h0000gn/T/ipykernel_54784/171228780.py:17: DtypeWarning: Columns (5,6,7,10,11,13,14,15,16,17,18,19,20,21,22,23,25,26,27,29,30,31,32,33,34,35,36,37,38,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'{file_path}', infer_datetime_format=True, parse_dates=['UTC Time at End of Hour', 'Local Time at End of Hour', 'Data Date'])

../GhostPostCC/data/EIA930_BALANCE_2023_Jul_Dec.csv combined

/var/folders/fh/7sz134vx5jq6_78w16smcs3h0000gn/T/ipykernel_54784/171228780.py:17: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df = pd.read_csv(f'{file_path}', infer_datetime_format=True, parse_dates=['UTC Time at End of Hour', 'Local Time at End of Hour', 'Data Date'])
/var/folders/fh/7sz134vx5jq6_78w16smcs3h0000gn/T/ipykernel_54784/171228780.py:17: DtypeWarning: Columns (5,6,7,8,9,10,11,13,14,15,16,17,18,19,20,21,22,23,25,26,27,29,30,31,33,34,35,36,37,38,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'{file_path}', infer_datetime_format=True, parse_dates=['UTC Time at End of Hour', 'Local Time at End of Hour', 'Data Date'])

../GhostPostCC/data/EIA930_BALANCE_2024_Jan_Jun.csv combined
[Errno 2] No such file or directory: '../GhostPostCC/data/EIA930_BALANCE_2024_Jul_Dec.csv'

/var/folders/fh/7sz134vx5jq6_78w16smcs3h0000gn/T/ipykernel_54784/171228780.py:17: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df = pd.read_csv(f'{file_path}', infer_datetime_format=True, parse_dates=['UTC Time at End of Hour', 'Local Time at End of Hour', 'Data Date'])

In [295]:
dataset

,Balancing Authority,Data Date,Hour Number,Local Time at End of Hour,UTC Time at End of Hour,Demand Forecast (MW),Demand (MW),Net Generation (MW),Total Interchange (MW),Sum(Valid DIBAs) (MW),...,Net Generation (MW) from Other Fuel Sources (Imputed),Net Generation (MW) from Coal (Adjusted),Net Generation (MW) from Natural Gas (Adjusted),Net Generation (MW) from Nuclear (Adjusted),Net Generation (MW) from All Petroleum Products (Adjusted),Net Generation (MW) from Hydropower and Pumped Storage (Adjusted),Net Generation (MW) from Solar (Adjusted),Net Generation (MW) from Wind (Adjusted),Net Generation (MW) from Other Fuel Sources (Adjusted),Region
0,MISO,2021-01-01,1,2021-01-01 01:00:00,2021-01-01 06:00:00,67059.0,67566.0,63940.0,-4521.0,-4521.0,...,NaN,25367.0,15999.0,11534.0,NaN,714.0,0.0,9486.0,839.0,NaN
1,MISO,2021-01-01,2,2021-01-01 02:00:00,2021-01-01 07:00:00,65069.0,66270.0,62553.0,-4435.0,-4435.0,...,NaN,24662.0,16063.0,11544.0,NaN,664.0,0.0,8780.0,840.0,NaN
2,MISO,2021-01-01,3,2021-01-01 03:00:00,2021-01-01 08:00:00,63767.0,65380.0,61389.0,-4673.0,-4673.0,...,NaN,25365.0,16057.0,11555.0,NaN,661.0,0.0,6912.0,839.0,NaN
3,MISO,2021-01-01,4,2021-01-01 04:00:00,2021-01-01 09:00:00,62861.0,64402.0,59712.0,-5251.0,-5251.0,...,NaN,24811.0,15870.0,11560.0,NaN,664.0,0.0,5967.0,841.0,NaN
4,MISO,2021-01-01,5,2021-01-01 05:00:00,2021-01-01 10:00:00,62396.0,63640.0,58947.0,-5408.0,-5408.0,...,NaN,25041.0,15755.0,11565.0,NaN,668.0,0.0,5074.0,844.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29035,MISO,2024-04-24,20,2024-04-24 20:00:00,2024-04-25 01:00:00,70461.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29036,MISO,2024-04-24,21,2024-04-24 21:00:00,2024-04-25 02:00:00,70246.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29037,MISO,2024-04-24,22,2024-04-24 22:00:00,2024-04-25 03:00:00,67846.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29038,MISO,2024-04-24,23,2024-04-24 23:00:00,2024-04-25 04:00:00,64743.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29039,MISO,2024-04-24,24,2024-04-25 00:00:00,2024-04-25 05:00:00,63560.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [297]:
cols_contain_to_omit = ['Hour Number', 'Data Date', 'Balancing Authority', 'Demand', 'Interchange', 'DIBAs', 'Imputed', 'Adjusted', 'Region']

def filter_columns(df, cols_contain_to_omit):
    for omit in cols_contain_to_omit:
        df = df.loc[:,~df.columns.str.contains(omit, case=False)]
    
    return df

In [298]:
dataset = filter_columns(dataset, cols_contain_to_omit)

In [299]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29040 entries, 0 to 29039
Data columns (total 12 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Local Time at End of Hour                               29040 non-null  datetime64[ns]
 1   UTC Time at End of Hour                                 29040 non-null  datetime64[ns]
 2   Net Generation (MW)                                     29011 non-null  float64
 3   Net Generation (MW) from Coal                           29011 non-null  float64
 4   Net Generation (MW) from Natural Gas                    29011 non-null  float64
 5   Net Generation (MW) from Nuclear                        29011 non-null  float64
 6   Net Generation (MW) from All Petroleum Products         24 non-null     float64
 7   Net Generation (MW) from Hydropower and Pumped Storage  29011 non-null  float64
 8   Net Generation (MW) from Solar                          29011 non-null  float64
 9   Net Generation (MW) from Wind                           29011 non-null  float64
 10  Net Generation (MW) from Other Fuel Sources             29011 non-null  float64
 11  Net Generation (MW) from Unknown Fuel Sources           0 non-null      float64
dtypes: datetime64[ns](2), float64(10)
memory usage: 2.7 MB

In [300]:
# all nans in the last 25 rows
dataset.tail(30)

,Local Time at End of Hour,UTC Time at End of Hour,Net Generation (MW),Net Generation (MW) from Coal,Net Generation (MW) from Natural Gas,Net Generation (MW) from Nuclear,Net Generation (MW) from All Petroleum Products,Net Generation (MW) from Hydropower and Pumped Storage,Net Generation (MW) from Solar,Net Generation (MW) from Wind,Net Generation (MW) from Other Fuel Sources,Net Generation (MW) from Unknown Fuel Sources
29010,2024-04-23 19:00:00,2024-04-24 00:00:00,67906.0,12515.0,22389.0,9549.0,NaN,1809.0,1959.0,19403.0,284.0,NaN
29011,2024-04-23 20:00:00,2024-04-24 01:00:00,67450.0,13178.0,24567.0,9553.0,NaN,2320.0,251.0,17334.0,248.0,NaN
29012,2024-04-23 21:00:00,2024-04-24 02:00:00,66111.0,14894.0,25584.0,9557.0,NaN,1921.0,1.0,13903.0,252.0,NaN
29013,2024-04-23 22:00:00,2024-04-24 03:00:00,63665.0,14970.0,24634.0,9565.0,NaN,1799.0,0.0,12441.0,256.0,NaN
29014,2024-04-23 23:00:00,2024-04-24 04:00:00,60306.0,13664.0,23328.0,9567.0,NaN,1169.0,0.0,12319.0,259.0,NaN
29015,2024-04-24 00:00:00,2024-04-24 05:00:00,58468.0,12639.0,22016.0,9568.0,NaN,979.0,0.0,13005.0,260.0,NaN
29016,2024-04-24 01:00:00,2024-04-24 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29017,2024-04-24 02:00:00,2024-04-24 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29018,2024-04-24 03:00:00,2024-04-24 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29019,2024-04-24 04:00:00,2024-04-24 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29020,2024-04-24 05:00:00,2024-04-24 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29021,2024-04-24 06:00:00,2024-04-24 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29022,2024-04-24 07:00:00,2024-04-24 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29023,2024-04-24 08:00:00,2024-04-24 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29024,2024-04-24 09:00:00,2024-04-24 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29025,2024-04-24 10:00:00,2024-04-24 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29026,2024-04-24 11:00:00,2024-04-24 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29027,2024-04-24 12:00:00,2024-04-24 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29028,2024-04-24 13:00:00,2024-04-24 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29029,2024-04-24 14:00:00,2024-04-24 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29030,2024-04-24 15:00:00,2024-04-24 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29031,2024-04-24 16:00:00,2024-04-24 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29032,2024-04-24 17:00:00,2024-04-24 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29033,2024-04-24 18:00:00,2024-04-24 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29034,2024-04-24 19:00:00,2024-04-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29035,2024-04-24 20:00:00,2024-04-25 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29036,2024-04-24 21:00:00,2024-04-25 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29037,2024-04-24 22:00:00,2024-04-25 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29038,2024-04-24 23:00:00,2024-04-25 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29039,2024-04-25 00:00:00,2024-04-25 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [301]:
dataset = dataset[dataset['UTC Time at End of Hour']<'2024-01-01']

In [302]:
dataset.columns

Index(['Local Time at End of Hour', 'UTC Time at End of Hour',
       'Net Generation (MW)', 'Net Generation (MW) from Coal',
       'Net Generation (MW) from Natural Gas',
       'Net Generation (MW) from Nuclear',
       'Net Generation (MW) from All Petroleum Products',
       'Net Generation (MW) from Hydropower and Pumped Storage',
       'Net Generation (MW) from Solar', 'Net Generation (MW) from Wind',
       'Net Generation (MW) from Other Fuel Sources',
       'Net Generation (MW) from Unknown Fuel Sources'],
      dtype='object')

In [306]:
dataset

,Local Time at End of Hour,UTC Time at End of Hour,Net Generation (MW),Net Generation (MW) from Coal,Net Generation (MW) from Natural Gas,Net Generation (MW) from Nuclear,Net Generation (MW) from All Petroleum Products,Net Generation (MW) from Hydropower and Pumped Storage,Net Generation (MW) from Solar,Net Generation (MW) from Wind,Net Generation (MW) from Other Fuel Sources,Net Generation (MW) from Unknown Fuel Sources
0,2021-01-01 01:00:00,2021-01-01 06:00:00,63940.0,25367.0,15999.0,11534.0,NaN,714.0,0.0,9486.0,839.0,NaN
1,2021-01-01 02:00:00,2021-01-01 07:00:00,62553.0,24662.0,16063.0,11544.0,NaN,664.0,0.0,8780.0,840.0,NaN
2,2021-01-01 03:00:00,2021-01-01 08:00:00,61389.0,25365.0,16057.0,11555.0,NaN,661.0,0.0,6912.0,839.0,NaN
3,2021-01-01 04:00:00,2021-01-01 09:00:00,59712.0,24811.0,15870.0,11560.0,NaN,664.0,0.0,5967.0,841.0,NaN
4,2021-01-01 05:00:00,2021-01-01 10:00:00,58947.0,25041.0,15755.0,11565.0,NaN,668.0,0.0,5074.0,844.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
26269,2023-12-31 14:00:00,2023-12-31 19:00:00,68586.0,19663.0,26718.0,8205.0,NaN,811.0,1060.0,11799.0,331.0,NaN
26270,2023-12-31 15:00:00,2023-12-31 20:00:00,68042.0,19740.0,26912.0,8203.0,NaN,805.0,976.0,11074.0,333.0,NaN
26271,2023-12-31 16:00:00,2023-12-31 21:00:00,67827.0,20145.0,26794.0,8204.0,NaN,802.0,825.0,10717.0,340.0,NaN
26272,2023-12-31 17:00:00,2023-12-31 22:00:00,68717.0,21403.0,27195.0,8203.0,NaN,850.0,541.0,10181.0,343.0,NaN
26273,2023-12-31 18:00:00,2023-12-31 23:00:00,70465.0,22887.0,27978.0,8202.0,NaN,1738.0,152.0,9150.0,358.0,NaN

In [307]:
dataset['Net Generation (MW) from Other'] = 0
dataset['Net Generation (MW) from Other'] = dataset['Net Generation (MW)'] - dataset[['Net Generation (MW) from Coal',
                                                 'Net Generation (MW) from Natural Gas',
                                                 'Net Generation (MW) from Nuclear',
                                                 'Net Generation (MW) from All Petroleum Products',
                                                 'Net Generation (MW) from Hydropower and Pumped Storage',
                                                 'Net Generation (MW) from Solar', 'Net Generation (MW) from Wind', 'Net Generation (MW) from Unknown Fuel Sources']].sum(axis=1)

In [312]:
dataset = dataset.drop(['Net Generation (MW) from Other Fuel Sources', 'Net Generation (MW) from Unknown Fuel Sources', 'Net Generation (MW)', 'Local Time at End of Hour'], axis=1)

In [313]:
dataset

,UTC Time at End of Hour,Net Generation (MW) from Coal,Net Generation (MW) from Natural Gas,Net Generation (MW) from Nuclear,Net Generation (MW) from All Petroleum Products,Net Generation (MW) from Hydropower and Pumped Storage,Net Generation (MW) from Solar,Net Generation (MW) from Wind,Net Generation (MW) from Other
0,2021-01-01 06:00:00,25367.0,15999.0,11534.0,NaN,714.0,0.0,9486.0,840.0
1,2021-01-01 07:00:00,24662.0,16063.0,11544.0,NaN,664.0,0.0,8780.0,840.0
2,2021-01-01 08:00:00,25365.0,16057.0,11555.0,NaN,661.0,0.0,6912.0,839.0
3,2021-01-01 09:00:00,24811.0,15870.0,11560.0,NaN,664.0,0.0,5967.0,840.0
4,2021-01-01 10:00:00,25041.0,15755.0,11565.0,NaN,668.0,0.0,5074.0,844.0
...,...,...,...,...,...,...,...,...,...
26269,2023-12-31 19:00:00,19663.0,26718.0,8205.0,NaN,811.0,1060.0,11799.0,330.0
26270,2023-12-31 20:00:00,19740.0,26912.0,8203.0,NaN,805.0,976.0,11074.0,332.0
26271,2023-12-31 21:00:00,20145.0,26794.0,8204.0,NaN,802.0,825.0,10717.0,340.0
26272,2023-12-31 22:00:00,21403.0,27195.0,8203.0,NaN,850.0,541.0,10181.0,344.0
26273,2023-12-31 23:00:00,22887.0,27978.0,8202.0,NaN,1738.0,152.0,9150.0,358.0

In [314]:
dataset.to_csv('data/MW_electricity_cleaned.csv')

## process data

In [349]:
import numpy as np
import pandas as pd
import pytz as pytz
from keras.layers import Dense, Flatten
from keras.models import Sequential
from scipy.sparse import data
from sklearn.utils import validation
import tensorflow as tf
from tensorflow import keras
from keras.callbacks import EarlyStopping
from keras.callbacks import ModelCheckpoint
from keras.models import load_model

In [315]:
source = 'coal'
IN_FILE_NAME = "data/MW_electricity_cleaned.csv"

In [331]:
NUM_FEATURES_DICT = {"coal":6, "nat_gas":6, "nuclear":6, "oil":6, "hydro":11, "solar": 11,
                    "wind":11, "unknown": 6, "biomass": 6, "geothermal":6}

NUM_VAL_DAYS = 30
NUM_TEST_DAYS = 184
TRAINING_WINDOW_HOURS = 24
PREDICTION_WINDOW_HOURS = 24
MODEL_SLIDING_WINDOW_LEN = 24

COAL = 1
NAT_GAS = 2
NUCLEAR = 3
OIL = 4
HYDRO = 5
SOLAR = 5
WIND = 6
OTHERS = 7 

FUEL = {COAL:"coal", NAT_GAS:"nat_gas", NUCLEAR:"nuclear", OIL:"oil", HYDRO:"hydro", SOLAR:"solar", WIND:"wind", OTHERS:"others"}
SOURCE_TO_SOURCE_COL_MAP = {y: x for x, y in FUEL.items()}

SOURCE_COL = SOURCE_TO_SOURCE_COL_MAP[source]
NUM_FEATURES = NUM_FEATURES_DICT[FUEL[SOURCE_COL]]

In [332]:
def initDataset(inFileName, sourceCol):
    dataset = pd.read_csv(inFileName, header=0, infer_datetime_format=True, parse_dates=['UTC Time at End of Hour'], index_col=['UTC Time at End of Hour'])

    print(dataset.head())
    print(dataset.columns)
    dateTime = dataset.index.values
    
    print("\nAdding features related to date & time...")
    modifiedDataset = utility.addDateTimeFeatures(dataset, dateTime, sourceCol)
    dataset = modifiedDataset
    print("Features related to date & time added")
    
    for i in range(sourceCol, len(dataset.columns.values)):
        col = dataset.columns.values[i]
        dataset[col] = dataset[col].astype(np.float64)
        # print(col, dataset[col].dtype)

    return dataset, dateTime

In [333]:
dataset, dateTime = initDataset(IN_FILE_NAME, SOURCE_COL)

/var/folders/fh/7sz134vx5jq6_78w16smcs3h0000gn/T/ipykernel_54784/2017388480.py:2: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  dataset = pd.read_csv(inFileName, header=0, infer_datetime_format=True, parse_dates=['UTC Time at End of Hour'], index_col=['UTC Time at End of Hour'])

                         Unnamed: 0  Net Generation (MW) from Coal  \
UTC Time at End of Hour
2021-01-01 06:00:00               0                        25367.0
2021-01-01 07:00:00               1                        24662.0
2021-01-01 08:00:00               2                        25365.0
2021-01-01 09:00:00               3                        24811.0
2021-01-01 10:00:00               4                        25041.0

                         Net Generation (MW) from Natural Gas  \
UTC Time at End of Hour
2021-01-01 06:00:00                                   15999.0
2021-01-01 07:00:00                                   16063.0
2021-01-01 08:00:00                                   16057.0
2021-01-01 09:00:00                                   15870.0
2021-01-01 10:00:00                                   15755.0

                         Net Generation (MW) from Nuclear  \
UTC Time at End of Hour
2021-01-01 06:00:00                               11534.0
2021-01-01 07:00:00                               11544.0
2021-01-01 08:00:00                               11555.0
2021-01-01 09:00:00                               11560.0
2021-01-01 10:00:00                               11565.0

                         Net Generation (MW) from All Petroleum Products  \
UTC Time at End of Hour
2021-01-01 06:00:00                                                  NaN
2021-01-01 07:00:00                                                  NaN
2021-01-01 08:00:00                                                  NaN
2021-01-01 09:00:00                                                  NaN
2021-01-01 10:00:00                                                  NaN

                         Net Generation (MW) from Hydropower and Pumped Storage  \
UTC Time at End of Hour
2021-01-01 06:00:00                                                  714.0
2021-01-01 07:00:00                                                  664.0
2021-01-01 08:00:00                                                  661.0
2021-01-01 09:00:00                                                  664.0
2021-01-01 10:00:00                                                  668.0

                         Net Generation (MW) from Solar  \
UTC Time at End of Hour
2021-01-01 06:00:00                                 0.0
2021-01-01 07:00:00                                 0.0
2021-01-01 08:00:00                                 0.0
2021-01-01 09:00:00                                 0.0
2021-01-01 10:00:00                                 0.0

                         Net Generation (MW) from Wind  \
UTC Time at End of Hour
2021-01-01 06:00:00                             9486.0
2021-01-01 07:00:00                             8780.0
2021-01-01 08:00:00                             6912.0
2021-01-01 09:00:00                             5967.0
2021-01-01 10:00:00                             5074.0

                         Net Generation (MW) from Other
UTC Time at End of Hour
2021-01-01 06:00:00                               840.0
2021-01-01 07:00:00                               840.0
2021-01-01 08:00:00                               839.0
2021-01-01 09:00:00                               840.0
2021-01-01 10:00:00                               844.0
Index(['Unnamed: 0', 'Net Generation (MW) from Coal',
       'Net Generation (MW) from Natural Gas',
       'Net Generation (MW) from Nuclear',
       'Net Generation (MW) from All Petroleum Products',
       'Net Generation (MW) from Hydropower and Pumped Storage',
       'Net Generation (MW) from Solar', 'Net Generation (MW) from Wind',
       'Net Generation (MW) from Other'],
      dtype='object')

Adding features related to date & time...
18738 7536
                         Unnamed: 0  Net Generation (MW) from Coal  hour_sin  \
UTC Time at End of Hour
2021-01-01 06:00:00               0                        25367.0  1.000000
2021-01-01 07:00:00               1                        24662.0  0.965926
2021-01-01 08:00:00               2                        25365.0  0.866025
2021-01-01 09:00:00               3                        24811.0  0.707107
2021-01-01 10:00:00               4                        25041.0  0.500000

                             hour_cos  month_sin  month_cos  weekend  \
UTC Time at End of Hour
2021-01-01 06:00:00      6.123234e-17   0.008601   0.999963        0
2021-01-01 07:00:00     -2.588190e-01   0.009318   0.999957        0
2021-01-01 08:00:00     -5.000000e-01   0.010035   0.999950        0
2021-01-01 09:00:00     -7.071068e-01   0.010751   0.999942        0
2021-01-01 10:00:00     -8.660254e-01   0.011468   0.999934        0

                         Net Generation (MW) from Natural Gas  \
UTC Time at End of Hour
2021-01-01 06:00:00                                   15999.0
2021-01-01 07:00:00                                   16063.0
2021-01-01 08:00:00                                   16057.0
2021-01-01 09:00:00                                   15870.0
2021-01-01 10:00:00                                   15755.0

                         Net Generation (MW) from Nuclear  \
UTC Time at End of Hour
2021-01-01 06:00:00                               11534.0
2021-01-01 07:00:00                               11544.0
2021-01-01 08:00:00                               11555.0
2021-01-01 09:00:00                               11560.0
2021-01-01 10:00:00                               11565.0

                         Net Generation (MW) from All Petroleum Products  \
UTC Time at End of Hour
2021-01-01 06:00:00                                                  NaN
2021-01-01 07:00:00                                                  NaN
2021-01-01 08:00:00                                                  NaN
2021-01-01 09:00:00                                                  NaN
2021-01-01 10:00:00                                                  NaN

                         Net Generation (MW) from Hydropower and Pumped Storage  \
UTC Time at End of Hour
2021-01-01 06:00:00                                                  714.0
2021-01-01 07:00:00                                                  664.0
2021-01-01 08:00:00                                                  661.0
2021-01-01 09:00:00                                                  664.0
2021-01-01 10:00:00                                                  668.0

                         Net Generation (MW) from Solar  \
UTC Time at End of Hour
2021-01-01 06:00:00                                 0.0
2021-01-01 07:00:00                                 0.0
2021-01-01 08:00:00                                 0.0
2021-01-01 09:00:00                                 0.0
2021-01-01 10:00:00                                 0.0

                         Net Generation (MW) from Wind  \
UTC Time at End of Hour
2021-01-01 06:00:00                             9486.0
2021-01-01 07:00:00                             8780.0
2021-01-01 08:00:00                             6912.0
2021-01-01 09:00:00                             5967.0
2021-01-01 10:00:00                             5074.0

                         Net Generation (MW) from Other
UTC Time at End of Hour
2021-01-01 06:00:00                               840.0
2021-01-01 07:00:00                               840.0
2021-01-01 08:00:00                               839.0
2021-01-01 09:00:00                               840.0
2021-01-01 10:00:00                               844.0
Features related to date & time added

In [334]:
dataset

,Unnamed: 0,Net Generation (MW) from Coal,hour_sin,hour_cos,month_sin,month_cos,weekend,Net Generation (MW) from Natural Gas,Net Generation (MW) from Nuclear,Net Generation (MW) from All Petroleum Products,Net Generation (MW) from Hydropower and Pumped Storage,Net Generation (MW) from Solar,Net Generation (MW) from Wind,Net Generation (MW) from Other
UTC Time at End of Hour,,,,,,,,,,,,,,
2021-01-01 06:00:00,0,25367.0,1.000000,6.123234e-17,0.008601,0.999963,0.0,15999.0,11534.0,NaN,714.0,0.0,9486.0,840.0
2021-01-01 07:00:00,1,24662.0,0.965926,-2.588190e-01,0.009318,0.999957,0.0,16063.0,11544.0,NaN,664.0,0.0,8780.0,840.0
2021-01-01 08:00:00,2,25365.0,0.866025,-5.000000e-01,0.010035,0.999950,0.0,16057.0,11555.0,NaN,661.0,0.0,6912.0,839.0
2021-01-01 09:00:00,3,24811.0,0.707107,-7.071068e-01,0.010751,0.999942,0.0,15870.0,11560.0,NaN,664.0,0.0,5967.0,840.0
2021-01-01 10:00:00,4,25041.0,0.500000,-8.660254e-01,0.011468,0.999934,0.0,15755.0,11565.0,NaN,668.0,0.0,5074.0,844.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-31 19:00:00,26269,19663.0,-0.965926,2.588190e-01,-0.012185,0.999926,1.0,26718.0,8205.0,NaN,811.0,1060.0,11799.0,330.0
2023-12-31 20:00:00,26270,19740.0,-0.866025,5.000000e-01,-0.011468,0.999934,1.0,26912.0,8203.0,NaN,805.0,976.0,11074.0,332.0
2023-12-31 21:00:00,26271,20145.0,-0.707107,7.071068e-01,-0.010751,0.999942,1.0,26794.0,8204.0,NaN,802.0,825.0,10717.0,340.0
2023-12-31 22:00:00,26272,21403.0,-0.500000,8.660254e-01,-0.010035,0.999950,1.0,27195.0,8203.0,NaN,850.0,541.0,10181.0,344.0
2023-12-31 23:00:00,26273,22887.0,-0.258819,9.659258e-01,-0.009318,0.999957,1.0,27978.0,8202.0,NaN,1738.0,152.0,9150.0,358.0

In [340]:
trainData, valData, testData, fullTrainData = utility.splitDataset(dataset.values, NUM_TEST_DAYS, NUM_VAL_DAYS)
trainDates = dateTime[: -(NUM_TEST_DAYS*24)]
fullTrainDates = np.copy(trainDates)
trainDates, validationDates = trainDates[: -(NUM_VAL_DAYS*24)], trainDates[-(NUM_VAL_DAYS*24):]
testDates = dateTime[-(NUM_TEST_DAYS*24):]
trainData = trainData[:, SOURCE_COL: SOURCE_COL+NUM_FEATURES]
valData = valData[:, SOURCE_COL: SOURCE_COL+NUM_FEATURES]
testData = testData[:, SOURCE_COL: SOURCE_COL+NUM_FEATURES]

No. of rows in dataset: 26274
No. of rows in training set: 21138
No. of rows in validation set: 720
No. of rows in test set: 4416

In [341]:
pd.DataFrame(trainData)

             0         1             2         3         4    5
0      25367.0  1.000000  6.123234e-17  0.008601  0.999963  0.0
1      24662.0  0.965926 -2.588190e-01  0.009318  0.999957  0.0
2      25365.0  0.866025 -5.000000e-01  0.010035  0.999950  0.0
3      24811.0  0.707107 -7.071068e-01  0.010751  0.999942  0.0
4      25041.0  0.500000 -8.660254e-01  0.011468  0.999934  0.0
...        ...       ...           ...       ...       ...  ...
21133  23355.0 -0.965926  2.588190e-01  0.524316 -0.851524  0.0
21134  24151.0 -0.866025  5.000000e-01  0.523705 -0.851900  0.0
21135  23780.0 -0.707107  7.071068e-01  0.523094 -0.852275  0.0
21136  24451.0 -0.500000  8.660254e-01  0.522483 -0.852650  0.0
21137  24507.0 -0.258819  9.659258e-01  0.521872 -0.853024  0.0

[21138 rows x 6 columns]

In [342]:
print("TrainData shape: ", trainData.shape) # (days x hour) x features
print("ValData shape: ", valData.shape) # (days x hour) x features
print("TestData shape: ", testData.shape) # (days x hour) x features
print("***** Dataset split done *****")

for i in range(trainData.shape[0]):
    for j in range(trainData.shape[1]):
        if(np.isnan(trainData[i, j])):
            trainData[i, j] = trainData[i-1, j]

for i in range(valData.shape[0]):
    for j in range(valData.shape[1]):
        if(np.isnan(valData[i, j])):
            valData[i, j] = valData[i-1, j]

for i in range(testData.shape[0]):
    for j in range(testData.shape[1]):
        if(np.isnan(testData[i, j])):
            testData[i, j] = testData[i-1, j]

featureList = dataset.columns.values[SOURCE_COL:SOURCE_COL+NUM_FEATURES]
print("Features: ", featureList)

TrainData shape:  (21138, 6)
ValData shape:  (720, 6)
TestData shape:  (4416, 6)
***** Dataset split done *****
Features:  ['Net Generation (MW) from Coal' 'hour_sin' 'hour_cos' 'month_sin'
 'month_cos' 'weekend']

In [344]:
print("Scaling data...")
# unscaledTestData = np.zeros(testData.shape[0])
# for i in range(testData.shape[0]):
#     unscaledTestData[i] = testData[i, 0]
trainData, valData, testData, ftMin, ftMax = utility.scaleDataset(trainData, valData, testData)
print("***** Data scaling done *****")
print(trainData.shape, valData.shape, testData.shape)

Scaling data...
***** Data scaling done *****
(21138, 6) (720, 6) (4416, 6)

In [345]:
# convert training data into inputs and outputs (labels)
def manipulateTrainingDataShape(data, trainWindowHours, labelWindowHours): 
    print("Data shape: ", data.shape)
    X, y = list(), list()
    # step over the entire history one time step at a time
    for i in range(len(data)-(trainWindowHours+labelWindowHours)+1):
        # define the end of the input sequence
        trainWindow = i + trainWindowHours
        labelWindow = trainWindow + labelWindowHours
        xInput = data[i:trainWindow, :]
        # xInput = xInput.reshape((len(xInput), 1))
        X.append(xInput)
        y.append(data[trainWindow:labelWindow, 0])
        # print(data[trainWindow:labelWindow, 0])
    return np.array(X, dtype=np.float64), np.array(y, dtype=np.float64)

def manipulateTestDataShape(data, slidingWindowLen, predictionWindowHours, isDates=False): 
    X = list()
    # step over the entire history one time step at a time
    for i in range(0, len(data)-(predictionWindowHours)+1, slidingWindowLen):
        # define the end of the input sequence
        predictionWindow = i + predictionWindowHours
        X.append(data[i:predictionWindow])
    if (isDates is False):
        X = np.array(X, dtype=np.float64)
    else:
        X = np.array(X)
    return X

In [346]:
print("\nManipulating training data...")
X, y = manipulateTrainingDataShape(trainData, TRAINING_WINDOW_HOURS, TRAINING_WINDOW_HOURS)
# Next line actually labels validation data
valX, valY = manipulateTrainingDataShape(valData, TRAINING_WINDOW_HOURS, TRAINING_WINDOW_HOURS)
print("***** Training data manipulation done *****")
print("X.shape, y.shape: ", X.shape, y.shape)

Manipulating training data...
Data shape:  (21138, 6)
Data shape:  (720, 6)
***** Training data manipulation done *****
X.shape, y.shape:  (21091, 24, 6) (21091, 24)

In [350]:
def trainANN(trainX, trainY, valX, valY, hyperParams):
    n_timesteps, n_features, nOutputs = trainX.shape[1], trainX.shape[2], trainY.shape[1]
    epochs = 1 #hyperParams['epoch']
    batchSize = hyperParams['batchsize']
    activationFunc = hyperParams['actv']
    lossFunc = hyperParams['loss']
    optimizer = hyperParams['optim']
    hiddenDims = hyperParams['hidden']
    learningRates = hyperParams['lr']
    model = Sequential()
    model.add(Flatten())
    model.add(Dense(hiddenDims[0], input_shape=(n_timesteps, n_features), activation=activationFunc)) # 20 for coal, nat_gas, nuclear
    model.add(Dense(hiddenDims[1], activation='relu')) # 50 for coal, nat_gas, nuclear
    model.add(Dense(nOutputs))

    opt = tf.keras.optimizers.Adam(learning_rate = learningRates)
    model.compile(loss=lossFunc, optimizer=optimizer[0],
                    metrics=['mean_absolute_error'])
    es = EarlyStopping(monitor='val_loss', mode='min', verbose=1, patience=10)
    mc = ModelCheckpoint('best_model_ann.keras', monitor='val_loss', mode='min', verbose=1, save_best_only=True)
    # fit network
    hist = model.fit(trainX, trainY, epochs=epochs, batch_size=batchSize[0], verbose=2,
                        validation_data=(valX, valY), callbacks=[es, mc])
    model = load_model("best_model_ann.keras")
    utility.showModelSummary(hist, model)
    return model, n_features

def getDayAheadForecasts(trainX, trainY, model, history, testData, 
                            trainWindowHours, numFeatures, depVarColumn):
    global MODEL_SLIDING_WINDOW_LEN
    global PREDICTION_WINDOW_HOURS
    # walk-forward validation over each day
    print("Testing...")
    predictions = list()
    for i in range(0, len(testData)//24):
        dayAheadPredictions = list()
        tempHistory = history.copy()
        currentDayHours = i* MODEL_SLIDING_WINDOW_LEN
        for j in range(0, PREDICTION_WINDOW_HOURS, 24):
            yhat_sequence, newTrainingData = getForecasts(model, tempHistory, trainWindowHours, numFeatures)
            dayAheadPredictions.extend(yhat_sequence)
            # add current prediction to history for predicting the next day
            # following 3 lines are redundant currently. Will become useful if
            # prediction period goes beyond 24 hours.
            latestHistory = testData[currentDayHours+j:currentDayHours+j+24, :].tolist()
            for k in range(24):
                latestHistory[k][depVarColumn] = yhat_sequence[k]
            tempHistory.extend(latestHistory)

        # get real observation and add to history for predicting the next day
        history.extend(testData[currentDayHours:currentDayHours+MODEL_SLIDING_WINDOW_LEN, :].tolist())
        predictions.append(dayAheadPredictions)

    # evaluate predictions days for each day
    predictedData = np.array(predictions, dtype=np.float64)
    return predictedData


def getForecasts(model, history, trainWindowHours, numFeatures):
    # flatten data
    data = np.array(history, dtype=np.float64)
    # retrieve last observations for input data
    input_x = data[-trainWindowHours:]
    # reshape into [1, n_input, num_features]
    input_x = input_x.reshape((1, len(input_x), numFeatures))
    # print("ip_x shape: ", input_x.shape)
    yhat = model.predict(input_x, verbose=0)
    # we only want the vector forecast
    yhat = yhat[0]
    return yhat, input_x

def getANNHyperParams():
    hyperParams = {}
    hyperParams['epoch'] = 100 
    hyperParams['batchsize'] = [10] 
    hyperParams['actv'] = "relu"
    hyperParams['loss'] = "mse"
    hyperParams['optim'] = ["adam"] #, "rmsprop"]
    hyperParams['lr'] = 1e-2 #, 1e-3
    hyperParams['hidden'] = [20, 50] #, [50, 50]]#, [20, 50]] #, [50, 50]]
    return hyperParams

In [363]:
pd.DataFrame(valData)

            0         1         2         3         4    5
0    0.484295  0.500000  1.000000  0.760630  0.073301  0.0
1    0.490293  0.629410  0.982963  0.760324  0.073114  0.0
2    0.481907  0.750000  0.933013  0.760018  0.072928  0.0
3    0.432190  0.853553  0.853553  0.759712  0.072742  0.0
4    0.370022  0.933013  0.750000  0.759406  0.072556  0.0
..        ...       ...       ...       ...       ...  ...
715  0.604878  0.017037  0.629410  0.517915  0.000321  0.0
716  0.611103  0.066987  0.750000  0.517557  0.000308  0.0
717  0.622388  0.146447  0.853553  0.517199  0.000296  0.0
718  0.626652  0.250000  0.933013  0.516841  0.000284  0.0
719  0.620512  0.370590  0.982963  0.516483  0.000272  0.0

[720 rows x 6 columns]

In [368]:
pd.DataFrame(valData[-TRAINING_WINDOW_HOURS:, :])

           0         1         2         3         4    5
0   0.532022  0.500000  1.000000  0.524718  0.000611  0.0
1   0.528327  0.629410  0.982963  0.524360  0.000594  0.0
2   0.538190  0.750000  0.933013  0.524002  0.000576  0.0
3   0.525740  0.853553  0.853553  0.523645  0.000559  0.0
4   0.531567  0.933013  0.750000  0.523287  0.000543  0.0
5   0.507377  0.982963  0.629410  0.522929  0.000526  0.0
6   0.462833  1.000000  0.500000  0.522571  0.000510  0.0
7   0.404474  0.982963  0.370590  0.522212  0.000494  0.0
8   0.350749  0.933013  0.250000  0.521854  0.000478  0.0
9   0.316211  0.853553  0.146447  0.521496  0.000462  0.0
10  0.318144  0.750000  0.066987  0.521138  0.000447  0.0
11  0.346286  0.629410  0.017037  0.520780  0.000432  0.0
12  0.372552  0.500000  0.000000  0.520422  0.000417  0.0
13  0.391029  0.370590  0.017037  0.520064  0.000403  0.0
14  0.434009  0.250000  0.066987  0.519706  0.000388  0.0
15  0.488871  0.146447  0.146447  0.519348  0.000374  0.0
16  0.549902  0.066987  0.250000  0.518990  0.000361  0.0
17  0.580403  0.017037  0.370590  0.518632  0.000347  0.0
18  0.596293  0.000000  0.500000  0.518274  0.000334  0.0
19  0.604878  0.017037  0.629410  0.517915  0.000321  0.0
20  0.611103  0.066987  0.750000  0.517557  0.000308  0.0
21  0.622388  0.146447  0.853553  0.517199  0.000296  0.0
22  0.626652  0.250000  0.933013  0.516841  0.000284  0.0
23  0.620512  0.370590  0.982963  0.516483  0.000272  0.0

In [361]:
testData[:, 0]

array([0.6257142 , 0.63293442, 0.60621393, ..., 0.34134   , 0.37709997,
       0.41928423])

In [352]:
######################## START #####################

hyperParams = getANNHyperParams()
bestRMSE = []

OUT_FILE_NAME_PREFIX = 'data/src_prod_forecast'

OUT_FILE_NAME = OUT_FILE_NAME_PREFIX + "_" + featureList[0] + ".csv"
print("\nStarting training")
bestModel, numFeatures = trainANN(X, y, valX, valY, hyperParams)
print("***** Training done *****")
history = valData[-TRAINING_WINDOW_HOURS:, :].tolist()
predictedData = getDayAheadForecasts(X, y, bestModel, history, testData, 
                TRAINING_WINDOW_HOURS, numFeatures, 0)            
actualData = manipulateTestDataShape(testData[:, 0], 
        MODEL_SLIDING_WINDOW_LEN, PREDICTION_WINDOW_HOURS, False)
formattedTestDates = manipulateTestDataShape(testDates, 
        MODEL_SLIDING_WINDOW_LEN, PREDICTION_WINDOW_HOURS, True)
formattedTestDates = np.reshape(formattedTestDates, 
        formattedTestDates.shape[0]*formattedTestDates.shape[1])
actualData = actualData.astype(np.float64)
print("ActualData shape: ", actualData.shape)
actual = np.reshape(actualData, actualData.shape[0]*actualData.shape[1])
print("actual.shape: ", actual.shape)
unscaledTestData = utility.inverseDataScaling(actual, ftMax[0], 
                ftMin[0])
predictedData = predictedData.astype(np.float64)
print("PredictedData shape: ", predictedData.shape)
predicted = np.reshape(predictedData, predictedData.shape[0]*predictedData.shape[1])
print("predicted.shape: ", predicted.shape)
unScaledPredictedData = utility.inverseDataScaling(predicted, 
        ftMax[0], ftMin[0])
rmseScore, mapeScore = utility.getScores(actualData, predictedData, 
                        unscaledTestData, unScaledPredictedData)
print("***** Forecast done *****")
print("Overall RMSE score: ", rmseScore)
bestRMSE.append(rmseScore)

Starting training (iteration  0 )...

Epoch 1: val_loss improved from inf to 0.00501, saving model to best_model_ann.keras
2110/2110 - 2s - 830us/step - loss: 0.0085 - mean_absolute_error: 0.0631 - val_loss: 0.0050 - val_mean_absolute_error: 0.0571
Showing model summary...

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ flatten_1 (Flatten)             │ (None, 144)            │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 20)             │         2,900 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 50)             │         1,050 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 24)             │         1,224 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 15,524 (60.64 KB)

 Trainable params: 5,174 (20.21 KB)

 Non-trainable params: 0 (0.00 B)

 Optimizer params: 10,350 (40.43 KB)

***** Model summary shown *****
dict_keys(['loss', 'mean_absolute_error', 'val_loss', 'val_mean_absolute_error'])
***** Training done *****
Testing...
ActualData shape:  (184, 24)
actual.shape:  (4416,)
PredictedData shape:  (184, 24)
predicted.shape:  (4416,)
Actual data shape, Predicted data shape:  (184, 24) (184, 24)
***** Forecast done *****
Overall RMSE score:  0.077688

In [ ]:
data = []
for i in range(len(unScaledPredictedData)):
    row = []
    row.append(str(formattedTestDates[i]))
    row.append(str(unscaledTestData[i]))
    row.append(str(unScaledPredictedData[i]))
    data.append(row)
utility.writeOutFuelForecastFile(OUT_FILE_NAME, data, featureList[0])

    
print("Average RMSE after ", 1, " expts: ", np.mean(bestRMSE))
print(bestRMSE)

In [354]:
data = []
for i in range(len(unScaledPredictedData)):
    row = []
    row.append(str(formattedTestDates[i]))
    row.append(str(unscaledTestData[i]))
    row.append(str(unScaledPredictedData[i]))
    data.append(row)

In [355]:
data

[['2023-07-01T00:00:00.000000000', '30149.0', '29177.53916'],
 ['2023-07-01T01:00:00.000000000', '30403.0', '29624.76403'],
 ['2023-07-01T02:00:00.000000000', '29463.0', '29434.62961'],
 ['2023-07-01T03:00:00.000000000', '29036.0', '28514.80402'],
 ['2023-07-01T04:00:00.000000000', '28262.0', '27552.96211'],
 ['2023-07-01T05:00:00.000000000', '27518.0', '26243.23484'],
 ['2023-07-01T06:00:00.000000000', '26148.0', '25002.14107'],
 ['2023-07-01T07:00:00.000000000', '23665.0', '23342.58048'],
 ['2023-07-01T08:00:00.000000000', '21098.0', '22492.31518'],
 ['2023-07-01T09:00:00.000000000', '19682.0', '21887.07307'],
 ['2023-07-01T10:00:00.000000000', '19151.0', '21452.50678'],
 ['2023-07-01T11:00:00.000000000', '19319.0', '21718.89668'],
 ['2023-07-01T12:00:00.000000000', '18850.0', '22767.1962'],
 ['2023-07-01T13:00:00.000000000', '19039.0', '23870.7787'],
 ['2023-07-01T14:00:00.000000000', '21259.0', '25645.47003'],
 ['2023-07-01T15:00:00.000000000', '24176.0', '26411.61882'],
 ['2023-07-01T16:00:00.000000000', '25552.0', '27523.47227'],
 ['2023-07-01T17:00:00.000000000', '26982.0', '27942.03764'],
 ['2023-07-01T18:00:00.000000000', '27870.0', '28511.43651'],
 ['2023-07-01T19:00:00.000000000', '28635.0', '29657.04056'],
 ['2023-07-01T20:00:00.000000000', '29231.0', '29169.07006'],
 ['2023-07-01T21:00:00.000000000', '29386.0', '29298.10489'],
 ['2023-07-01T22:00:00.000000000', '29489.0', '29669.61736'],
 ['2023-07-01T23:00:00.000000000', '29616.0', '29758.88159'],
 ['2023-07-02T00:00:00.000000000', '29419.0', '29041.9685'],
 ['2023-07-02T01:00:00.000000000', '28788.0', '29529.4106'],
 ['2023-07-02T02:00:00.000000000', '27372.0', '29594.6682'],
 ['2023-07-02T03:00:00.000000000', '25731.0', '28832.56211'],
 ['2023-07-02T04:00:00.000000000', '25616.0', '27998.22435'],
 ['2023-07-02T05:00:00.000000000', '25645.0', '26189.11561'],
 ['2023-07-02T06:00:00.000000000', '23827.0', '24891.51746'],
 ['2023-07-02T07:00:00.000000000', '21644.0', '22771.22736'],
 ['2023-07-02T08:00:00.000000000', '19855.0', '21737.09822'],
 ['2023-07-02T09:00:00.000000000', '18713.0', '20483.27039'],
 ['2023-07-02T10:00:00.000000000', '18373.0', '20471.46942'],
 ['2023-07-02T11:00:00.000000000', '18333.0', '20591.8737'],
 ['2023-07-02T12:00:00.000000000', '18073.0', '21355.03974'],
 ['2023-07-02T13:00:00.000000000', '18605.0', '22554.86367'],
 ['2023-07-02T14:00:00.000000000', '20915.0', '25032.64053'],
 ['2023-07-02T15:00:00.000000000', '24085.0', '26150.49826'],
 ['2023-07-02T16:00:00.000000000', '25693.0', '27521.31882'],
 ['2023-07-02T17:00:00.000000000', '26660.0', '27943.92269'],
 ['2023-07-02T18:00:00.000000000', '28122.0', '28616.21939'],
 ['2023-07-02T19:00:00.000000000', '28732.0', '30129.9621'],
 ['2023-07-02T20:00:00.000000000', '28839.0', '29375.90994'],
 ['2023-07-02T21:00:00.000000000', '29116.0', '29649.72681'],
 ['2023-07-02T22:00:00.000000000', '29767.0', '29908.63312'],
 ['2023-07-02T23:00:00.000000000', '30024.0', '30073.34764'],
 ['2023-07-03T00:00:00.000000000', '30276.0', '28448.06396'],
 ['2023-07-03T01:00:00.000000000', '30035.0', '28986.68344'],
 ['2023-07-03T02:00:00.000000000', '28915.0', '29018.39802'],
 ['2023-07-03T03:00:00.000000000', '27695.0', '28213.76817'],
 ['2023-07-03T04:00:00.000000000', '27198.0', '27244.87462'],
 ['2023-07-03T05:00:00.000000000', '24864.0', '25361.21408'],
 ['2023-07-03T06:00:00.000000000', '21494.0', '23934.15649'],
 ['2023-07-03T07:00:00.000000000', '18331.0', '21883.67935'],
 ['2023-07-03T08:00:00.000000000', '16958.0', '20860.02913'],
 ['2023-07-03T09:00:00.000000000', '16735.0', '19710.65812'],
 ['2023-07-03T10:00:00.000000000', '16827.0', '19816.74627'],
 ['2023-07-03T11:00:00.000000000', '17398.0', '20114.54671'],
 ['2023-07-03T12:00:00.000000000', '18079.0', '20868.53388'],
 ['2023-07-03T13:00:00.000000000', '19566.0', '22127.22322'],
 ['2023-07-03T14:00:00.000000000', '22233.0', '24564.45469'],
 ['2023-07-03T15:00:00.000000000', '25196.0', '25776.35427'],
 ['2023-07-03T16:00:00.000000000', '27574.0', '27085.00587'],
 ['2023-07-03T17:00:00.000000000', '29006.0', '27401.20391'],
 ['2023-07-03T18:00:00.000000000', '29763.0', '28042.08168'],
 ['2023-07-03T19:00:00.000000000', '30458.0', '29539.79831'],
 ['2023-07-03T20:00:00.000000000', '31063.0', '28819.54078'],
 ['2023-07-03T21:00:00.000000000', '31422.0', '29222.95864'],
 ['2023-07-03T22:00:00.000000000', '31745.0', '29506.29723'],
 ['2023-07-03T23:00:00.000000000', '32007.0', '29697.77362'],
 ['2023-07-04T00:00:00.000000000', '32035.0', '29632.96893'],
 ['2023-07-04T01:00:00.000000000', '31423.0', '29791.40345'],
 ['2023-07-04T02:00:00.000000000', '30271.0', '29574.19683'],
 ['2023-07-04T03:00:00.000000000', '28859.0', '28856.35066'],
 ['2023-07-04T04:00:00.000000000', '27893.0', '27768.1306'],
 ['2023-07-04T05:00:00.000000000', '26011.0', '26439.26765'],
 ['2023-07-04T06:00:00.000000000', '23939.0', '24858.59091'],
 ['2023-07-04T07:00:00.000000000', '21392.0', '22699.10473'],
 ['2023-07-04T08:00:00.000000000', '19531.0', '21961.13212'],
 ['2023-07-04T09:00:00.000000000', '18420.0', '20746.4123'],
 ['2023-07-04T10:00:00.000000000', '17902.0', '20967.24014'],
 ['2023-07-04T11:00:00.000000000', '18043.0', '21139.28519'],
 ['2023-07-04T12:00:00.000000000', '18297.0', '21808.63898'],
 ['2023-07-04T13:00:00.000000000', '19083.0', '22930.8361'],
 ['2023-07-04T14:00:00.000000000', '20256.0', '25234.54657'],
 ['2023-07-04T15:00:00.000000000', '22538.0', '25963.86346'],
 ['2023-07-04T16:00:00.000000000', '26388.0', '27384.12102'],
 ['2023-07-04T17:00:00.000000000', '29213.0', '27642.04601'],
 ['2023-07-04T18:00:00.000000000', '31325.0', '28785.30161'],
 ['2023-07-04T19:00:00.000000000', '32232.0', '30429.89712'],
 ['2023-07-04T20:00:00.000000000', '32363.0', '29418.28062'],
 ['2023-07-04T21:00:00.000000000', '32744.0', '29885.64975'],
 ['2023-07-04T22:00:00.000000000', '33539.0', '30565.59568'],
 ['2023-07-04T23:00:00.000000000', '33859.0', '30311.5079'],
 ['2023-07-05T00:00:00.000000000', '33287.0', '30689.66103'],
 ['2023-07-05T01:00:00.000000000', '32847.0', '30743.32944'],
 ['2023-07-05T02:00:00.000000000', '31510.0', '30463.329'],
 ['2023-07-05T03:00:00.000000000', '30177.0', '29726.62183'],
 ['2023-07-05T04:00:00.000000000', '29385.0', '28704.35552'],
 ['2023-07-05T05:00:00.000000000', '27739.0', '27640.37693'],
 ['2023-07-05T06:00:00.000000000', '24363.0', '26176.50946'],
 ['2023-07-05T07:00:00.000000000', '20249.0', '23944.29572'],
 ['2023-07-05T08:00:00.000000000', '18943.0', '23267.86826'],
 ['2023-07-05T09:00:00.000000000', '18635.0', '22026.75457'],
 ['2023-07-05T10:00:00.000000000', '18942.0', '21986.19555'],
 ['2023-07-05T11:00:00.000000000', '20455.0', '21929.21415'],
 ['2023-07-05T12:00:00.000000000', '22484.0', '22641.86018'],
 ['2023-07-05T13:00:00.000000000', '25360.0', '23682.10996'],
 ['2023-07-05T14:00:00.000000000', '27702.0', '25888.55994'],
 ['2023-07-05T15:00:00.000000000', '29758.0', '26405.58624'],
 ['2023-07-05T16:00:00.000000000', '31793.0', '27896.38542'],
 ['2023-07-05T17:00:00.000000000', '32330.0', '28331.60173'],
 ['2023-07-05T18:00:00.000000000', '32810.0', '29595.36855'],
 ['2023-07-05T19:00:00.000000000', '33017.0', '31310.04017'],
 ['2023-07-05T20:00:00.000000000', '32872.0', '30308.67088'],
 ['2023-07-05T21:00:00.000000000', '32431.0', '30640.16531'],
 ['2023-07-05T22:00:00.000000000', '32358.0', '31358.47279'],
 ['2023-07-05T23:00:00.000000000', '32085.0', '31021.78031'],
 ['2023-07-06T00:00:00.000000000', '31408.0', '32016.04134'],
 ['2023-07-06T01:00:00.000000000', '31356.0', '32253.96674'],
 ['2023-07-06T02:00:00.000000000', '31293.0', '32134.63185'],
 ['2023-07-06T03:00:00.000000000', '29434.0', '31148.41218'],
 ['2023-07-06T04:00:00.000000000', '27687.0', '30124.06581'],
 ['2023-07-06T05:00:00.000000000', '26177.0', '28564.81975'],
 ['2023-07-06T06:00:00.000000000', '23943.0', '27138.25491'],
 ['2023-07-06T07:00:00.000000000', '22544.0', '25055.66899'],
 ['2023-07-06T08:00:00.000000000', '21046.0', '24049.00101'],
 ['2023-07-06T09:00:00.000000000', '19984.0', '23072.5379'],
 ['2023-07-06T10:00:00.000000000', '21207.0', '23079.13558'],
 ['2023-07-06T11:00:00.000000000', '22584.0', '23309.91184'],
 ['2023-07-06T12:00:00.000000000', '23460.0', '24183.8598'],
 ['2023-07-06T13:00:00.000000000', '25279.0', '25393.14568'],
 ['2023-07-06T14:00:00.000000000', '26842.0', '27728.12305'],
 ['2023-07-06T15:00:00.000000000', '28169.0', '28639.65568'],
 ['2023-07-06T16:00:00.000000000', '29364.0', '29939.34332'],
 ['2023-07-06T17:00:00.000000000', '30704.0', '30405.80662'],
 ['2023-07-06T18:00:00.000000000', '31796.0', '31108.49479'],
 ['2023-07-06T19:00:00.000000000', '31794.0', '32791.89846'],
 ['2023-07-06T20:00:00.000000000', '32040.0', '32069.26103'],
 ['2023-07-06T21:00:00.000000000', '32347.0', '32364.63333'],
 ['2023-07-06T22:00:00.000000000', '32381.0', '32634.90447'],
 ['2023-07-06T23:00:00.000000000', '32252.0', '32714.98667'],
 ['2023-07-07T00:00:00.000000000', '31981.0', '31405.1252'],
 ['2023-07-07T01:00:00.000000000', '31189.0', '31772.02673'],
 ['2023-07-07T02:00:00.000000000', '30085.0', '31636.65527'],
 ['2023-07-07T03:00:00.000000000', '29233.0', '30594.97859'],
 ['2023-07-07T04:00:00.000000000', '27266.0', '29663.88462'],
 ['2023-07-07T05:00:00.000000000', '24866.0', '28240.72294'],
 ['2023-07-07T06:00:00.000000000', '22711.0', '27022.23302'],
 ['2023-07-07T07:00:00.000000000', '20536.0', '25179.32126'],
 ['2023-07-07T08:00:00.000000000', '18554.0', '24184.44481'],
 ['2023-07-07T09:00:00.000000000', '17473.0', '23480.67258'],
 ['2023-07-07T10:00:00.000000000', '17813.0', '23065.03438'],
 ['2023-07-07T11:00:00.000000000', '18839.0', '23246.11468'],
 ['2023-07-07T12:00:00.000000000', '19477.0', '24300.96785'],
 ['2023-07-07T13:00:00.000000000', '20369.0', '25454.14881'],
 ['2023-07-07T14:00:00.000000000', '21265.0', '27450.27397'],
 ['2023-07-07T15:00:00.000000000', '22763.0', '28293.21293'],
 ['2023-07-07T16:00:00.000000000', '24889.0', '29468.787'],
 ['2023-07-07T17:00:00.000000000', '26450.0', '30047.9634'],
 ['2023-07-07T18:00:00.000000000', '27621.0', '30555.21217'],
 ['2023-07-07T19:00:00.000000000', '28672.0', '31960.99112'],
 ['2023-07-07T20:00:00.000000000', '28931.0', '31483.77736'],
 ['2023-07-07T21:00:00.000000000', '29001.0', '31574.29549'],
 ['2023-07-07T22:00:00.000000000', '29115.0', '31769.91103'],
 ['2023-07-07T23:00:00.000000000', '29123.0', '31951.12133'],
 ['2023-07-08T00:00:00.000000000', '29127.0', '28258.156'],
 ['2023-07-08T01:00:00.000000000', '28982.0', '28686.85117'],
 ['2023-07-08T02:00:00.000000000', '28286.0', '28550.44597'],
 ['2023-07-08T03:00:00.000000000', '27205.0', '27780.01545'],
 ['2023-07-08T04:00:00.000000000', '26255.0', '26935.71145'],
 ['2023-07-08T05:00:00.000000000', '24868.0', '25660.43407'],
 ['2023-07-08T06:00:00.000000000', '22575.0', '24452.73549'],
 ['2023-07-08T07:00:00.000000000', '20125.0', '22509.06153'],
 ['2023-07-08T08:00:00.000000000', '18270.0', '21714.76382'],
 ['2023-07-08T09:00:00.000000000', '16796.0', '20710.38873'],
 ['2023-07-08T10:00:00.000000000', '16778.0', '20282.2335'],
 ['2023-07-08T11:00:00.000000000', '16763.0', '20232.34882'],
 ['2023-07-08T12:00:00.000000000', '16188.0', '21109.96204'],
 ['2023-07-08T13:00:00.000000000', '16515.0', '22172.43405'],
 ['2023-07-08T14:00:00.000000000', '18511.0', '24121.12783'],
 ['2023-07-08T15:00:00.000000000', '20313.0', '24919.96308'],
 ['2023-07-08T16:00:00.000000000', '22118.0', '26225.24612'],
 ['2023-07-08T17:00:00.000000000', '23287.0', '26756.19329'],
 ['2023-07-08T18:00:00.000000000', '24171.0', '27591.74092'],
 ['2023-07-08T19:00:00.000000000', '24698.0', '28899.44265'],
 ['2023-07-08T20:00:00.000000000', '25575.0', '28264.78199'],
 ['2023-07-08T21:00:00.000000000', '26233.0', '28401.27735'],
 ['2023-07-08T22:00:00.000000000', '26974.0', '28907.61401'],
 ['2023-07-08T23:00:00.000000000', '27665.0', '28867.65049'],
 ['2023-07-09T00:00:00.000000000', '28102.0', '26077.37545'],
 ['2023-07-09T01:00:00.000000000', '27573.0', '26678.36938'],
 ['2023-07-09T02:00:00.000000000', '25996.0', '26728.93238'],
 ['2023-07-09T03:00:00.000000000', '23495.0', '26110.10909'],
 ['2023-07-09T04:00:00.000000000', '22077.0', '25215.20539'],
 ['2023-07-09T05:00:00.000000000', '20149.0', '23516.70768'],
 ['2023-07-09T06:00:00.000000000', '18673.0', '22233.13314'],
 ['2023-07-09T07:00:00.000000000', '17011.0', '20094.3993'],
 ['2023-07-09T08:00:00.000000000', '15663.0', '19206.67097'],
 ['2023-07-09T09:00:00.000000000', '14890.0', '17905.1444'],
 ['2023-07-09T10:00:00.000000000', '14523.0', '17858.17013'],
 ['2023-07-09T11:00:00.000000000', '14626.0', '17890.86393'],
 ['2023-07-09T12:00:00.000000000', '14678.0', '18569.5287'],
 ['2023-07-09T13:00:00.000000000', '15262.0', '19761.60379'],
 ['2023-07-09T14:00:00.000000000', '16620.0', '22087.32994'],
 ['2023-07-09T15:00:00.000000000', '18426.0', '23262.12085'],
 ['2023-07-09T16:00:00.000000000', '19776.0', '24600.03059'],
 ['2023-07-09T17:00:00.000000000', '20835.0', '25038.33448'],
 ['2023-07-09T18:00:00.000000000', '21943.0', '25776.60799'],
 ['2023-07-09T19:00:00.000000000', '23294.0', '27143.01682'],
 ['2023-07-09T20:00:00.000000000', '24813.0', '26460.28838'],
 ['2023-07-09T21:00:00.000000000', '25193.0', '26794.63031'],
 ['2023-07-09T22:00:00.000000000', '26379.0', '27186.80076'],
 ['2023-07-09T23:00:00.000000000', '26514.0', '27304.40787'],
 ['2023-07-10T00:00:00.000000000', '27365.0', '24368.64205'],
 ['2023-07-10T01:00:00.000000000', '27914.0', '24580.80998'],
 ['2023-07-10T02:00:00.000000000', '26366.0', '24764.84052'],
 ['2023-07-10T03:00:00.000000000', '24366.0', '24185.23008'],
 ['2023-07-10T04:00:00.000000000', '21498.0', '23363.08539'],
 ['2023-07-10T05:00:00.000000000', '19541.0', '21539.51796'],
 ['2023-07-10T06:00:00.000000000', '18197.0', '20822.43293'],
 ['2023-07-10T07:00:00.000000000', '16081.0', '18446.20669'],
 ['2023-07-10T08:00:00.000000000', '15270.0', '17628.96335'],
 ['2023-07-10T09:00:00.000000000', '15261.0', '16229.21804'],
 ['2023-07-10T10:00:00.000000000', '15266.0', '16519.33569'],
 ['2023-07-10T11:00:00.000000000', '15841.0', '16275.65972'],
 ['2023-07-10T12:00:00.000000000', '16426.0', '16845.4119'],
 ['2023-07-10T13:00:00.000000000', '17447.0', '18203.47639'],
 ['2023-07-10T14:00:00.000000000', '18996.0', '20443.36244'],
 ['2023-07-10T15:00:00.000000000', '21244.0', '21401.66804'],
 ['2023-07-10T16:00:00.000000000', '23444.0', '22642.08454'],
 ['2023-07-10T17:00:00.000000000', '25587.0', '23403.09294'],
 ['2023-07-10T18:00:00.000000000', '27775.0', '23655.35544'],
 ['2023-07-10T19:00:00.000000000', '28861.0', '25084.46688'],
 ['2023-07-10T20:00:00.000000000', '29663.0', '24695.88201'],
 ['2023-07-10T21:00:00.000000000', '30084.0', '25049.29148'],
 ['2023-07-10T22:00:00.000000000', '30004.0', '25397.66435'],
 ['2023-07-10T23:00:00.000000000', '29806.0', '25619.45674'],
 ['2023-07-11T00:00:00.000000000', '30088.0', '27103.783'],
 ['2023-07-11T01:00:00.000000000', '30249.0', '27462.00155'],
 ['2023-07-11T02:00:00.000000000', '28929.0', '27244.14282'],
 ['2023-07-11T03:00:00.000000000', '27873.0', '26535.91272'],
 ['2023-07-11T04:00:00.000000000', '24234.0', '25439.81801'],
 ['2023-07-11T05:00:00.000000000', '21934.0', '24095.59471'],
 ['2023-07-11T06:00:00.000000000', '20416.0', '22529.40709'],
 ['2023-07-11T07:00:00.000000000', '18125.0', '20526.78804'],
 ['2023-07-11T08:00:00.000000000', '16625.0', '19838.87624'],
 ['2023-07-11T09:00:00.000000000', '16002.0', '18760.55532'],
 ['2023-07-11T10:00:00.000000000', '15927.0', '18848.10329'],
 ['2023-07-11T11:00:00.000000000', '16545.0', '19043.32882'],
 ['2023-07-11T12:00:00.000000000', '17788.0', '19738.58477'],
 ['2023-07-11T13:00:00.000000000', '19395.0', '20877.01556'],
 ['2023-07-11T14:00:00.000000000', '20652.0', '22928.89338'],
 ['2023-07-11T15:00:00.000000000', '22479.0', '23825.58044'],
 ['2023-07-11T16:00:00.000000000', '25787.0', '25135.92103'],
 ['2023-07-11T17:00:00.000000000', '28330.0', '25386.12234'],
 ['2023-07-11T18:00:00.000000000', '29685.0', '26442.49886'],
 ['2023-07-11T19:00:00.000000000', '30340.0', '27859.77054'],
 ['2023-07-11T20:00:00.000000000', '31078.0', '27022.53077'],
 ['2023-07-11T21:00:00.000000000', '31271.0', '27501.47231'],
 ['2023-07-11T22:00:00.000000000', '31075.0', '28247.62571'],
 ['2023-07-11T23:00:00.000000000', '31130.0', '28034.35276'],
 ['2023-07-12T00:00:00.000000000', '30944.0', '28795.35802'],
 ['2023-07-12T01:00:00.000000000', '30522.0', '29028.09377'],
 ['2023-07-12T02:00:00.000000000', '30044.0', '28813.55432'],
 ['2023-07-12T03:00:00.000000000', '28839.0', '28066.56848'],
 ['2023-07-12T04:00:00.000000000', '26985.0', '27022.0443'],
 ['2023-07-12T05:00:00.000000000', '24600.0', '25726.41613'],
 ['2023-07-12T06:00:00.000000000', '21980.0', '24196.96185'],
 ['2023-07-12T07:00:00.000000000', '19186.0', '22071.23886'],
 ['2023-07-12T08:00:00.000000000', '17590.0', '21341.2017'],
 ['2023-07-12T09:00:00.000000000', '16334.0', '20177.45901'],
 ['2023-07-12T10:00:00.000000000', '16028.0', '20256.50956'],
 ['2023-07-12T11:00:00.000000000', '16788.0', '20337.94842'],
 ['2023-07-12T12:00:00.000000000', '17667.0', '21035.93549'],
 ['2023-07-12T13:00:00.000000000', '18984.0', '22156.14272'],
 ['2023-07-12T14:00:00.000000000', '20927.0', '24318.4418'],
 ['2023-07-12T15:00:00.000000000', '23902.0', '25138.60183'],
 ['2023-07-12T16:00:00.000000000', '25439.0', '26515.38264'],
 ['2023-07-12T17:00:00.000000000', '27534.0', '26869.11607'],
 ['2023-07-12T18:00:00.000000000', '28418.0', '27969.48727'],
 ['2023-07-12T19:00:00.000000000', '29254.0', '29542.11531'],
 ['2023-07-12T20:00:00.000000000', '29775.0', '28649.51498'],
 ['2023-07-12T21:00:00.000000000', '30036.0', '29064.35428'],
 ['2023-07-12T22:00:00.000000000', '30147.0', '29763.33526'],
 ['2023-07-12T23:00:00.000000000', '30005.0', '29521.77185'],
 ['2023-07-13T00:00:00.000000000', '30241.0', '28584.81094'],
 ['2023-07-13T01:00:00.000000000', '30184.0', '28844.52663'],
 ['2023-07-13T02:00:00.000000000', '29878.0', '28667.59806'],
 ['2023-07-13T03:00:00.000000000', '29080.0', '27960.61138'],
 ['2023-07-13T04:00:00.000000000', '27491.0', '26983.25501'],
 ['2023-07-13T05:00:00.000000000', '25875.0', '25672.0306'],
 ['2023-07-13T06:00:00.000000000', '23447.0', '24207.31496'],
 ['2023-07-13T07:00:00.000000000', '21348.0', '22059.12755'],
 ['2023-07-13T08:00:00.000000000', '20075.0', '21318.29486'],
 ['2023-07-13T09:00:00.000000000', '18948.0', '20090.06411'],
 ['2023-07-13T10:00:00.000000000', '19024.0', '20113.73838'],
 ['2023-07-13T11:00:00.000000000', '20269.0', '20127.8941'],
 ['2023-07-13T12:00:00.000000000', '21404.0', '20819.26672'],
 ['2023-07-13T13:00:00.000000000', '23248.0', '21921.06586'],
 ['2023-07-13T14:00:00.000000000', '25233.0', '24114.05207'],
 ['2023-07-13T15:00:00.000000000', '26462.0', '24932.78207'],
 ['2023-07-13T16:00:00.000000000', '27233.0', '26338.28842'],
 ['2023-07-13T17:00:00.000000000', '28182.0', '26722.42172'],
 ['2023-07-13T18:00:00.000000000', '28520.0', '27818.99974'],
 ['2023-07-13T19:00:00.000000000', '28909.0', '29371.40175'],
 ['2023-07-13T20:00:00.000000000', '29526.0', '28473.15465'],
 ['2023-07-13T21:00:00.000000000', '29984.0', '28841.3017'],
 ['2023-07-13T22:00:00.000000000', '30707.0', '29520.05664'],
 ['2023-07-13T23:00:00.000000000', '31150.0', '29294.3306'],
 ['2023-07-14T00:00:00.000000000', '31044.0', '29644.25828'],
 ['2023-07-14T01:00:00.000000000', '30766.0', '30080.47478'],
 ['2023-07-14T02:00:00.000000000', '29864.0', '29947.84807'],
 ['2023-07-14T03:00:00.000000000', '28625.0', '28999.93122'],
 ['2023-07-14T04:00:00.000000000', '26670.0', '28099.28954'],
 ['2023-07-14T05:00:00.000000000', '24717.0', '26711.70271'],
 ['2023-07-14T06:00:00.000000000', '21605.0', '25490.97756'],
 ['2023-07-14T07:00:00.000000000', '18880.0', '23652.29092'],
 ['2023-07-14T08:00:00.000000000', '17505.0', '22734.46675'],
 ['2023-07-14T09:00:00.000000000', '17191.0', '21960.84171'],
 ['2023-07-14T10:00:00.000000000', '17801.0', '21531.51016'],